<% layout('boilerplate') %>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust listings</title>
</head> -->
<body>
    <h1>Wanderlust</h1>
    <!-- <form method="GET" action="/listings/new">
        <button>Add NEW Listing</button>
    </form> -->
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
        <% for(listing of listings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col" >
                    <img class="card-img-top" src="<%=listing.image%>>" alt="Card image cap" style="height:20rem;">
                    <div class="card-img-overlay">&#x2661;</div>
                    <div class="card-body">
                      <p class="card-text"><b><%=listing.title%></b></p>
                      <!-- <h6 class="card-text"><%=listing.description%></h6> -->
                      <h6 class="card-text">&#8377;<%=listing.price%></h6>
                       <h6> <i class="fa-regular fa-location-arrow"></i> <%=listing.location%></h6>
                      <h6 class="card-text"><%=listing.country%></h6>
                    </div>
                </div>
                <% } %> 
        </div>

            </a>
            
    

    <!-- <% for(listing of listings){ %>
    <ul>
        <li><form method="GET"><a href="/listings/<%= listing._id %>"><%= listing.title %></a></form></li>
    </ul>
    <% } %>  -->
</body>
<!-- </html> -->