<% layout('boilerplate') %>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust show listing</title>
</head> -->
<body>
    

    <div class="row">
        <div class="col-6 offset-2">
          <h4 class="mt-3">Wanderlust - <%= listing.title %></h4>
    <div class="card">
        <img class="card-img-top show-img" src="<%=listing.image%>" alt="listing-image">
        <div class="card-body">
         <!-- <p class="card-text"><%=listing.title%></p>-->
        </div>
      

    <!-- <h2>Listing id : <%= listing._id %></h2> -->
    <!--<h2><%= listing.title %></h2> -->
    <p><%= listing.description %></p>
    <!-- <img src="<%= listing.image %>" -->
    <h5>&#8377;<%= listing.price %></h5>
    <h5><%= listing.location %></h5>
    <h5><%= listing.country %></h5>
  </div>
<div class="formBtn" ><form method="GET" action="/listings/<%= listing._id %>/edit"><button class="btn btn-warning">EDIT Listing</button></form></div>  
<div class="formBtn"><form method="POST" action="/listings/<%= listing._id %>?_method=DELETE"><button class="btn btn-danger"> DELETE Listing</button></form></div>
</div>
</div>

<div class="col-6 offset-2">
  <div class="mb-3 mt-3">
    <hr>
    <h4>Leave a review</h4>
    <form method="POST" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">
  <label for="rating" class="form-label">Rating</label>
  <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating" class="form-control">
</div>
<div class="mb-3 mt-3">
  <label for="comment" class="form-label">Comment</label>
  <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
  <div class="invalid-feedback">Please submit some comment</div>
</div>
<div>
<button class="btn btn-outline-dark mb-3">Submit</button>
</div>

</div>
</form>
</body>
<!-- </html> -->